#imagen{
    border: 2px solid grey;
    margin: 2.8px;
    padding: 0;
    border-radius: 800px;
    overflow: hidden;
    width: 120px;
    height: 120px;
}
.updatefile{
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

#img_personal,#img_producto,#img_empresa, #img_sucursal {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#label{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #3C8DBC;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 12px 20px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}

.imagen_producto{
    border: 6px solid black;
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius:8px;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 120px;
}
.imagen_productos{
    border: 6px solid black;
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius:8px;
    overflow: hidden;
    display: block;
    width: 30%;
    height: 60px;
}


